h1 {
    background: linear-gradient(#b700ff, #ffc65d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: "Comic Sans MS", cursive;
    font-size: 300%;
}

p {
    font-family: "Oswald", cursive;
    font-size: 125%;
}

th {
    background: linear-gradient(#230000, #b30000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: "Oswald", cursive;
    font-size: 125%;
}

img {
    border-radius: 25px;
    position: relative;
    top: 5%;
    left: 40%;
}

.specs{
    width: 40%;
    background-color: #ffd135;
}

.TaskBar{
    height: 50px;
    background: linear-gradient(#009dff, #0076ff);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
}

.tStartButton{
    height: 50px;
    background: linear-gradient(to right, #08ff00, #00a820);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 10%;
    margin: 0;

    img {
        width: 30%;
        height: 90%;
        margin-left: -35%;
    }

    span {
        font-family: "ui-sans-serif", Tahoma;
        text-shadow: rgb(0 0 0 / 0.51) 2px 2px;
        -webkit-text-stroke-width: thin;
        position: absolute;
        scale: 135%;
        top: 30%;
        left: 35%;
        margin-left: 10%;
        color: white;
    }
}

.MainBackground{
    background: url("WindowsXPbackground.jpg") no-repeat center center fixed;
    background-size: cover;
}

.icon{
    width: 75px;
    height: 75px;
    position: absolute;
    background-color: transparent;
}

.iTextFile{
    background-image: url("Icons/WindowsXPfile.png");
    background-size: cover;
    top: 500px;
    left: 300px;

    button {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    span {
        color: #f4f4f4;
        font-family: "ui-sans-serif", Tahoma;
        position: absolute;
        top: 100%;
        margin-left: -5%;
    }
}




.iAboutMe {
    background-image: url("Icons/WindowsXPfile.png");
    background-size: cover;
    top: 40px;
    left: 40px;

    .buttonClick {
        display: inline-block;
        aspect-ratio: 1 / 1;
        width: 100%;

        background-color: transparent;
        -webkit-text-fill-color: black;
        border: none;
        cursor: pointer;
    }

    span {
        color: #f4f4f4;
        font-family: "ui-sans-serif", Tahoma;
        position: absolute;
        top: 100%;
    }
}

.iPcSpecs {
    background-image: url("Icons/WindowsXPfile.png");
    background-size: cover;
    top: 40px;
    left: 150px;

    .buttonClick {
        display: inline-block;
        aspect-ratio: 1 / 1;
        width: 100%;

        background-color: transparent;
        -webkit-text-fill-color: black;
        border: none;
        cursor: pointer;
    }

    .specpopup {
        display: none;
        position: fixed;
        inset: 30% 0 0 40%;
    }

    .specpopup:target {
        display: grid;
    }

    span {
        color: #f4f4f4;
        font-family: "ui-sans-serif", Tahoma;
        position: absolute;
        top: 100%;
        margin-left: 10%;
    }
}










.close {
    float: right;
    font-size: 175%;
    text-align: center;
    -webkit-text-fill-color: white;
    text-decoration: none;
    color: #ff0000;
    margin-top: -12%;
    background-color: red;
    width: 40px;
    height: 30px;
}

.popup {
    display: none;
    position: fixed;
    inset: 30% 0 0 40%;
}

.popup:target {
    display: grid;
}

.popup-text
{
    margin-left: 2%;
}

.mainFont
{
    font-family: "Tahoma", cursive;
}

.topbar-text
{
    margin-top: 2%;
    margin-left: 2%;
    -webkit-text-fill-color: white;
}

.popup-topbar {
    background: rgb(65, 102, 237);
    width: 100%;
    height: 5%;
    max-width: 410px;
    z-index: 2;
}

.popup-content {
    background: rgb(235, 234, 217);
    border-width: 5px;
    border-style: solid;
    border-color: rgb(65, 102, 237);
    width: 100%;
    height: 30%;
    top: 4%;
    border-radius: 8px;
    max-width: 400px;
    z-index: 1;
    position: absolute;
}



.iMusicPlayer {
    background-image: url("Icons/windowsMEDIAFILE.png");
    background-size: cover;
    top: 40px;
    left: 260px;

    span {
        color: #f4f4f4;
        font-family: "ui-sans-serif", Tahoma;
        position: absolute;
        top: 100%;
        margin-left: -15%;
    }
}



